    .product {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .desc {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    }

    .preco {
        background-color: lightgreen;
        padding: 10px;
        border-radius: 5px;
        width: 30%;
    }

    p {
        font-size: 1.05em;
        line-height: 1.3em;
        text-align: justify;
    }

    .navButton {
        display: flex;
        justify-content: space-between;
    }