.recover {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.recover h2 {
    font-family: var(--type-first);
}

.recover p {
    line-height: 1.5em;
    color: #333a;
}

.recover span {
    color: #fb1;
}

.link {
    align-self: flex-end;
    margin-top: .5rem;
    color: #333a; 
}